body {
  margin: 0;
  background: white; }

#toggleButtons {
  display: none; }

.page {
  width: 7.5in; }

.page.backs {
  page-break-before: always;
  display: block;
  transform: scale(-1, 1); }
  .page.backs .card {
    transform: scale(-1, 1); }
