body {
  margin: 0;
  background: white; }

#toggleButtons {
  display: none; }

.page {
  width: 7.5in;
  margin: auto;
  background: white;
  position: relative; }

.page.backs {
  page-break-before: always;
  display: block;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }
  .page.backs .card {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
