a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Francois+One);

$background-color: #161211;
$text-color: #FFF0F0;
$accent-color: #373232;

$dm-height: 150px;

$base: 20px;

$giant: 4*$base;
$huge: 1.5*$base;
$large: 1.2*$base;
$small: 0.8*$base;
$tiny: 0.2*$base;
/*
Green 305744
Brown 311B00
Blue (cold) - 311B00
Red (fire) - A71300
Yellow (electric) - FFF94B
Purple (arcane) - 491543
*/
html, body {
  width: 100%;
  height: 100%;

  background: $background-color;
  font-family: 'Lora', serif;
  font-size: $base;
  color: $text-color;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: $huge;
  font-weight: normal;
  padding: $small;
}
h2 {
  font-size: $large;
  padding: $tiny;
}

.number {
  font-family: 'Fjalla One', sans-serif;
}

#players {
  width: 100%;
  height: 100%;
  padding-bottom: $dm-height + $base;
  box-sizing: border-box;

  .player {
    width: 50%;
    float: left;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    .info {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .damage {
        font-size: $giant;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#enemies {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $dm-height;

  background: $background-color;

  table {
    width: 100%;
  }

  .enemy {
    height: 100%;

    border: 1px solid $accent-color;
    border-collapse: collapse;
    text-align: center;

    .controls {
      width: 100%;
      height: 100%;

      .control {
        font-size: $large;
        padding: $small;

        &:first-of-type {
          border-right: 1px solid $text-color;
        }
        &:hover {
          cursor: pointer;
          background: darken($accent-color, 5%);
        }
      }
    }
  }
}