a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Caudex);

$text-color: #161211;
$light-color: #6A6160;
$accent-color: #C9A7A7; /*#373232;*/
$huge: 24pt;
$large: 14pt;
$base: 12pt;
$small: 10pt;
$border: 5pt;
$tiny: 2pt;
$thin: 0.8pt;

$icon-width: 0.15in;
/*
Green 305744
Brown 311B00
Blue (cold) - 311B00
Red (fire) - A71300
Yellow (electric) - FFF94B
Purple (arcane) - 491543
*/

/* === THE PAGE === */
body {
  margin-top: 25px;

  background: $text-color;
  font-size: 0; /* hack for display-inline gap */
  font-family: 'Lora', serif;
  color: $text-color;
}
.page {
  margin: auto;
  background: white;
}
@page {
  margin: 0.2in 0;
  background: white;
}
#filters {
  z-index: 100;
  position: fixed;
  top: 0; left: 0; right: 0;
  text-align: center;
  background: $text-color;
}

/* === THE CARDS === */
.icon {
  width: $icon-width;
  height: $icon-width;
  display: inline-block;
  svg {
    width: 100%;
    height: 100%;
  }
}
.tier {
  font-family: 'Lora', serif !important;
}
.card {
/* TODO TEST PRINTING REDUCED HEIGHT FROM 3.5 */
  width: 2.5in;
  height: 3.3in;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  
  &.front {
    border: $border solid $text-color;
  }
  &.back {
    border: $border solid $text-color;
  }

  /*&.Encounter {
    border: $border ridge $accent-color;
  }*/

  font-size: $base;
  line-height: 1.2;

  header {
    position: relative;
    padding: 0 0 $tiny $border;

    font-size: $large;

    .title {
      padding: $border 0 0 0;
      
      font-family: 'Cinzel Decorative', cursive;
      font-weight: bold;
      letter-spacing: -0.5pt;
    }

    .indicators {
      float: right;
      margin: $tiny;
      padding: $tiny $tiny 0 $tiny;

      /* border: $thin solid $text-color; */
      /* crazy redundant borders to fix print rendering issue */
      /* border-bottom-left-radius: 4pt; */
      text-align: center;
      /*font-family: 'Alfa Slab One', cursive;
      font-family: 'Oswald', sans-serif;
      font-family: 'Francois One', sans-serif;*/
      font-family: 'Fjalla One', sans-serif;

      .stat {
        margin-left: $tiny;
      }
      .bonus {
        display: inline-block;
      }
      svg {
        margin-bottom: 1px;
      }
      .bottom {
        padding-top: $thin;
        border-top: $thin solid $accent-color;
      }
    }
  }

  article {
    clear: left;
    padding: 0 $border $border $border;
    font-family: 'Caudex', serif;

    .effect, .usage {
      margin-top: .25in;
    }

    .portrait {
      margin-top: $tiny;
      box-sizing: border-box;
      border: 1px solid $text-color;
      width: 100%;
      height: 1.8in;
    }

    .solo, .roleplay, .description {
      text-align: center;
      position: absolute;
      left: $border; bottom: 0; right: $border;
      height: 25%;
    }
  }

  footer {
    position: absolute;
    left: 2*$tiny; bottom: $tiny; right: 2*$tiny; 

    font-size: $small;

    .slot  {
      position: absolute;
      bottom: 0; left: 0;
      .heavy {
        font-weight: bold;
      }
    }

    .tier {
      font-size: $huge;
    }

    .cardType {
      position: absolute;
      left: 0; bottom: 0; right: 0;
      text-align: center;
      font-weight: bold;
    }

    .worth  {
      position: absolute;
      bottom: 0; right: 0;
    }
  }
}

/* === BACK-SIDE === */
.page.backs {
  display: none;

  .card {
    text-align: center;
    
    .cardType {
      position: absolute;
      top: 0.5in; left: 0; right: 0;

      font-size: $huge;
      font-family: 'Cinzel Decorative', cursive;
    }

    .tier {
      position: absolute;
      top: 2.5in; left: 0; right: 0;

      font-size: 36pt;
    }
  }
}

/* === BACKGROUNDS === */
.Encounter {
  color: white;
  background: $text-color;
  &.front {
    border-color: $text-color !important;
  }
  svg {
    fill: white;
  }
}
.card-background {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  background: no-repeat center center;
  background-size: 1in 1in;
}
.card-background-faded {
  @extend .card-background;
  opacity: 0.15;
}
.card.front.Equipment:after, .card.front.Loot:after { /* Equipment front first, overwritten by class */
  @extend .card-background-faded;
  background-image: url(../img/loot.svg);
}
.card.front.Melee:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Melee.svg);
}
.card.front.Ranged:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Ranged.svg);
}
.card.front.Magic:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Magic.svg);
}
.card.front.Influence:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Influence.svg);
}
.card.front.Defense:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Defense.svg);
}
.card.front.Stealth:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Stealth.svg);
}
.card.front.Alchemy:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Alchemy.svg);
}
.card.front.Music:after {
  @extend .card-background-faded;
  background-image: url(../img/class/Music.svg);
}
.card.front.Encounter:after {
  @extend .card-background-faded;
  background-image: url(../img/encounter-white.svg);
}

.card.back.str:after {
  @extend .card-background;
  background-image: url(../img/str.svg);
}
.card.back.foc:after {
  @extend .card-background;
  background-image: url(../img/foc.svg);
}
.card.back.int:after {
  @extend .card-background;
  background-image: url(../img/int.svg);
}
.card.back.cha:after {
  @extend .card-background;
  background-image: url(../img/cha.svg);
}
.card.back.Encounter:after {
  @extend .card-background;
  background-image: url(../img/encounter-white.svg);
}
.card.back.Equipment:after, .card.back.Loot:after { /* loot icon last / overwrite stat icon */
  @extend .card-background;
  background-image: url(../img/loot.svg);
}