a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Francois+One);

$text-color: #161211;
$light-color: #6A6160;
$accent-color: #373232;
$large: 14pt;
$base: 12pt;
$small: 10pt;
$border: 4pt;
$tiny: 2pt;
$thin: 0.8pt;

$icon-width: 0.15in;

/*
Green 305744
Brown 311B00
Blue (cold) - 311B00
Red (fire) - A71300
Yellow (electric) - FFF94B
Purple (arcane) - 491543
*/

/* === THE PAGE === */
body {
  margin-top: 25px;

  background: $text-color;
  font-size: 0; /* hack for display-inline gap */
  font-family: 'Lora', serif;
  color: $text-color;
}
@page {
  background: white;
}
.page {
  width: 7.5in;
  margin: auto;
  background: white;
}
#toggleButtons {
  z-index: 100;
  position: fixed;
  top: 0; left: 0; right: 0;
  text-align: center;
  background: $text-color;
}

/* === THE CARDS === */
.icon {
  width: $icon-width;
  height: $icon-width;
  img {
    width: 100%;
    height: 100%;
  }
}
.card {
  width: 2.5in;
  height: 3.5in;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  
  border: $border solid $text-color;

  &.Encounter {
    border: $border ridge $accent-color;
  }

  font-size: $base;
  line-height: 1.2;

  header {
    position: relative;
    padding: 0 0 $tiny $border;

    font-size: $large;

    .left {
      float: left;
      margin: $border 0.06in 0 0;

      text-align: center;
      font-size: 95%; /* accounting for slight size diff between this font and Cinzel */
    }

    .title {
      padding: $border 0 0 0;
      
      font-family: 'Cinzel Decorative', cursive;
      font-weight: bold;
      letter-spacing: -0.5pt;
    }

    .indicators {
      float: right;
      margin: -1px -1px 0 $tiny;
      padding: $border - $tiny $tiny 0 $tiny;

      /* crazy redundant borders to fix print rendering issue */
      border: $thin solid $text-color;
      border-bottom-left-radius: 4pt;
      text-align: center;
      /*font-family: 'Alfa Slab One', cursive;
      font-family: 'Oswald', sans-serif;
      font-family: 'Francois One', sans-serif;*/
      font-family: 'Fjalla One', sans-serif;

      .stat {
        display: inline-block;
        margin-left: $tiny;
      }
      /*div:nth-child(1) {
       padding-top: $tiny;
      }*/
      div:nth-child(2) {
        border-top: $thin solid $accent-color;
      }
    }
  }

  article {
    clear: left;
    padding: 0 $border $border $border;

    .info {
      text-align: center;
    }
    .requires {
      text-align: center;
    }

    .special, .effect, .usage {
      margin-top: .25in;
    }

    .roleplay, .description {
      position: absolute;
      left: $border; bottom: 0; right: $border;
      height: 25%;

      .prompt {
        font-size: $small;
      }
    }
  }

  footer {
    position: absolute;
    left: 2*$tiny; bottom: $tiny; right: 2*$tiny; 

    font-size: $small;

    .slot  {
      float: left;
    }

    .cardType {
      position: absolute;
      left: 0; bottom: 0; right: 0;
      text-align: center;
      font-weight: bold;
    }

    .worth  {
      float: right;
    }
  }
}

/* === BACK-SIDE === */
.page.backs {
  page-break-before: always;

  .card {
    text-align: center;
    
    .cardType {
      position: absolute;
      top: 0.5in; left: 0; right: 0;

      font-size: 24pt;
      font-family: 'Cinzel Decorative', cursive;
    }

    .tier {
      position: absolute;
      top: 2.5in; left: 0; right: 0;

      font-size: 36pt;
    }
  }
}

/* === BACKGROUNDS === */
.card-background {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  background: no-repeat center center;
  background-size: 1in 1in;
}
.card-background-faded {
  @extend .card-background;
  opacity: 0.15;
}
.card.front.str:after {
  @extend .card-background-faded;
  background-image: url(../img/str.svg);
}
.card.front.foc:after {
  @extend .card-background-faded;
  background-image: url(../img/foc.svg);
}
.card.front.int:after {
  @extend .card-background-faded;
  background-image: url(../img/int.svg);
}
.card.front.cha:after {
  @extend .card-background-faded;
  background-image: url(../img/cha.svg);
}
.card.front.hp:after {
  @extend .card-background-faded;
  background-image: url(../img/hp.svg);
}
.card.front.Encounter:after {
  @extend .card-background-faded;
  background-image: url(../img/encounter.svg);
}
.card.front.Equipment:after, .card.front.Loot:after { /* loot icon last / overwrite stat icon */
  @extend .card-background-faded;
  background-image: url(../img/loot.svg);
}

.card.back.str:after {
  @extend .card-background;
  background-image: url(../img/str.svg);
}
.card.back.foc:after {
  @extend .card-background;
  background-image: url(../img/foc.svg);
}
.card.back.int:after {
  @extend .card-background;
  background-image: url(../img/int.svg);
}
.card.back.cha:after {
  @extend .card-background;
  background-image: url(../img/cha.svg);
}
.card.back.hp:after {
  @extend .card-background;
  background-image: url(../img/hp.svg);
}
.card.back.Encounter:after {
  @extend .card-background;
  background-image: url(../img/encounter.svg);
}
.card.back.Equipment:after, .card.back.Loot:after {
  @extend .card-background;
  background-image: url(../img/loot.svg);
}