a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Francois+One);

$text-color: #161211;
$light-color: #6A6160;
$accent-color: #373232;
$large: 14pt;
$base: 12pt;
$small: 10pt;
$border: 8pt;
$tiny: 2pt;
/*
Green 305744
Brown 311B00
Blue (cold) - 311B00
Red (fire) - A71300
Yellow (electric) - FFF94B
Purple (arcane) - 491543
*/
body {
  background: $text-color;
  margin: 0.1in;
  font-size: 0; /* hack for display-inline gap */
  font-family: 'Lora', serif;
  color: $text-color;
}
@page {
  background: white;
  margin: 0.3in 0.12in;
}

.card {
  width: 2.5in;
  height: 3.5in;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  background: white;
  
  border: 1px solid $text-color;
  border-radius: 2%;
  padding: $border;

  font-size: $base;

  .contents {
    width: 100%;
    height: 100%;
    position: relative;
  }

  header {
    height: 2*$large;
    padding-bottom: $tiny;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: $tiny;

    .title {
      font-size: $large;
      font-family: 'Cinzel Decorative', cursive;
      font-weight: bold;
      letter-spacing: -0.5pt;
      margin-right: $large;
    }

    .indicators {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;

      font-size: $large;
      font-family: 'Alfa Slab One', cursive;
      font-family: 'Oswald', sans-serif;
      font-family: 'Fjalla One', sans-serif;
      font-family: 'Francois One', sans-serif;

      div:nth-child(1) {
        margin-top: -$tiny;
      }
      div:nth-child(2) {
        border-top: 1px solid $accent-color;
      }
    }
  }

  .info {
    text-align: center;
  }

  .stat {
    width: 0.14in;
    margin-right: 0.06in;
    float: left;
    img {
      width: 100%;
    }
  }

  .effect {
    margin-top: .25in;
  }

  .roleplay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    .prompt {
      font-size: $small;
    }
  }
}