@import 'main.scss';

body {
  margin: 0;
  background: white;
}

#filters {
  display: none;
}

.page.backs {
  height: auto;

  page-break-before: always;
  transform: scale(-1, 1);

  .card {
    transform: scale(-1, 1);
  }
}

.card.front {
  border: $border solid white;
}