@import 'main.scss';

body {
  margin: 0;
  background: white;
}

#filters {
  display: none;
}

.page {
  width: 7.5in;
  margin: auto;
  background: white;
  position: relative;
}
.page.backs {
  page-break-before: always;
  display: block;
  transform: scale(-1, 1);

  .card {
    transform: scale(-1, 1);
  }
}

.card.front {
  border: $border solid white;
}