<div class="card front {{{ cardType }}} horizontal">
  <header>
    <div class="health mdl-badge" data-badge="2">20 {{> icon img='hp' }}</div>
    <div class="name">{{{ Name }}}</div>
  </header>
  <article>
    <div class="mdl-badge-left" data-badge="3"><strong>+5 to non-ability rolls involving:</strong><br/>{{{ roleplaybonus }}}</div>
  </article>
  <footer>
    <div class="flavortext mdl-badge-left" data-badge="4">{{{ flavortext }}}</div>
    <div class="cardType">Adventurer</div>
  </footer>
</div>