<div class="card front {{{ cardType }}}">
  <header>
    <div class="indicators">
      <div class="health">{{{ Health }}}{{> icon img='hp' }}</div>
    </div>
    <div class="title fillIn">__________</div>
  </header>
  <article>
    <div class="info">{{{ Title }}}</div>
    <div class="portrait">
      Gold:</br>
      Inventory:
    </div>
    <div class="skills"><strong>Skills:</strong> {{{ Skills }}}</div>
  </article>
  {{> footer }}
</div>