<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name">Icon Cheat Sheet</div>
    </header>
    <article>
      <div>{{> icon img='adventurer' }} Adventurer</div>
      <div>{{> icon img='hp' }} Health / regain Health</div>
      <div>{{> icon img='roll' }} Roll &ge; this to succeed</div>
      <div>{{> icon img='roll' }} = 20 on dice: double effects</div>
      <div>{{> icon img='roll' }} = 1 on dice: reverse effects</div>
      <div>{{> icon img='target' }} Unique target(s)</div>
      <div>{{> icon img='damage' }} Damage (all types)</div>
      <div>{{> icon img='melee' }} Melee abilities / damage</div>
      <div>{{> icon img='ranged' }} Ranged abilities / damage</div>
      <div>{{> icon img='magic' }} Magic abilities / damage</div>
      <div>{{> icon img='music' }} Music abilities / damage</div>
      <div>{{> icon img='loot' }} Loot (keep in front of you)</div>
      <div><strong>I/II/III/IV</strong> Tier (enemy power, loot value)</div>
    </article>
    <footer>
      <div class="cardType">Cheat Sheet</div>
    </footer>
  </div>
</div>
