<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name">Role Playing Ideas</div>
    </header>
    <article>
      <div>- Share backstories</div>
      <div>- Loot the bodies!</div>
      <div>- Search the dark corner</div>
      <div>- Talk to the locals</div>
      <div>- Break into jail</div>
      <div>- Break out of jail</div>
      <div>- Hang out at the tavern</div>
      <div>- Visit the local merchant</div>
      <div>- Cause a disturbance</div>
    </article>
    <footer>
      <div class="cardType">Cheat Sheet</div>
    </footer>
  </div>
</div>