<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name">Combat Turn Guide</div>
    </header>
    <article>
      <ol>
        <li>Draw 3 abilities face down
        <li>Start the timer, flip cards
        <li>Play 1 ability
        <li>Once everyone's played, stop the timer
        <li>If surge, resolve
        <li>Players roll and resolve abilites (in any order)
        <li>Take damage
        <li>Repeat until dead!
      </ol>
    </article>
    <footer>
      <div class="cardType">Cheat Sheet</div>
    </footer>
  </div>
</div>