<div class="card front {{{ cardType }}} vertical">
  <header>
    <div class="name">Icon Cheat Sheet</div>
  </header>
  <article>
    <div>{{> icon img='hp' }} Health</div>
    <div>{{> icon img='defense' }} Defensive Shield</div>
    <div>{{> icon img='roll' }} Risk</div>
    <div>{{> icon img='target' }} Target</div>
    <div>{{> icon img='coin' }} Gold</div>
    <div>{{> icon img='damage' }} Damage</div>
    <div>{{> icon img='physical' }} Physical Damage</div>
    <div>{{> icon img='fire' }} Fire Damage</div>
    <div>{{> icon img='frost' }} Frost Damage</div>
    <div>{{> icon img='shock' }} Shock Damage</div>
  </article>
  <footer>
    <div class="cardType">Cheat Sheet</div>
  </footer>
</div>