<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name">Icon Cheat Sheet</div>
    </header>
    <article>
      <div>{{> icon img='adventurer' }} Adventurer</div>
      <div>{{> icon img='hp' }} Health / regain Health</div>
      <div>{{> icon img='roll' }} Roll &ge; this to succeed</div>
      <div>{{> icon img='target' }} Target(s)</div>
      <div>{{> icon img='loot' }} Loot item</div>
      <div>{{> icon img='coin' }} Gold value (buy & sell)</div>
      <div>{{> icon img='damage' }} Any / all damage</div>
      <div>{{> icon img='physical' }} Physical damage</div>
      <div>{{> icon img='fire' }} Fire damage</div>
      <div>{{> icon img='frost' }} Frost damage</div>
      <div>{{> icon img='shock' }} Shock damage</div>
    </article>
    <footer>
      <div class="cardType">Cheat Sheet</div>
    </footer>
  </div>
</div>