<div class="card front {{{ cardType }}}">
  <header>
    <div class="title fillIn">_____________</div>
  </header>
  <article>
    <div class="passive">{{{ Passive }}}</div>
    <div class="active">{{{ Active }}}</div>
  </article>
  {{> footer }}
</div>