<div class="card front {{{ cardType }}}">
  <header>
    <div class="title mdl-badge-left" data-badge="1">{{{ Title }}}</div>
  </header>
  <article>
    <div class="passive mdl-badge" data-badge="2">{{{ Passive }}}</div>
    <div class="active mdl-badge" data-badge="3">{{{ Active }}}</div>
  </article>
  {{> footer }}
</div>