/* FONTS - HEADER */
/* @import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700); */
/*@import url(http://fonts.googleapis.com/css?family=Merienda:400,700);*/
/* @import url(http://fonts.googleapis.com/css?family=Uncial+Antiqua); */
@font-face {
  font-family: 'capitals';
  src: url('/fonts/capitals.woff') format('woff');
}

/* FONTS - BODY */
/*@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700);*/

/* FONTS - NUMBERS */
/*@import url(http://fonts.googleapis.com/css?family=Fjalla+One);*/
/*@import url(http://fonts.googleapis.com/css?family=Caudex);*/

/* FAILED
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
*/

/*
$text-color: #161211;
*/
$text-color: black;


/*$accent-color: #C0A0A0;*/
$bold: 700;

$huge: 24pt;
$large: 14pt;
$base: 12pt;
$small: 9pt;
$border: 0.125in; /* this changes when manufacturing (0.125" normally, 0.25" with bleed), hence.... */
$edge: 0.125in;
$tiny: 2pt;
$thin: 0.8pt;

$icon-width: 0.15in;
$footer-height: 0.6in;

$font-header: "capitals", serif;
$font-body: "minion-pro", serif;


/* For printing @ 2.75"x3.75"*/
body.printing {
  $border: 0.25in;
  .printInstructions {
    display: none !important;
  }
  .card {
    width: 2.75in !important;
    height: 3.75in !important;
  }
  .page {
    width: 2.75in !important;
    height: 3.75in !important;
    /*&.backs {
      transform: none;

      .card {
        transform: none;
      }
    }*/
  }
  .description {
    margin-bottom: 0;
  }
  .card {
    border-radius: 0 !important;
    &.front, &.back {
      border: $border solid white;
    }
    &.Encounter {
      border: $border solid black;
    }
  }
}

/* === THE CARDS === */
.icon {
  width: $icon-width;
  height: $icon-width;
  display: inline-block;
  svg {
    width: 100%;
    height: 100%;
    padding-right: $tiny;
  }
}
.threat {
  font-family: $font-header !important;
}
.card {
  width: 2.5in;
  height: 3.5in;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  background: white;
  font-family: $font-body;

  border-radius: 2 * $border; /* poker card border radius, on top of the border width */

  .inline_icon {
    height: 15px;
    margin-bottom: -2px;
  }
  
  &.front, &.back {
    border: $border solid $text-color;
  }

  font-size: $base;

  header {
    position: relative;
    padding: $tiny $edge;

    font-size: $large;
    font-family: $font-header;

    .title {
      font-weight: $bold;
      letter-spacing: -0.5pt;
    }

    .indicators {
      float: right;
      text-align: right;

      .top {
        span {
          margin-left: $tiny;
        }
      }

      .icon {
        margin-left: $tiny;
      }
      .bonus {
        display: inline-block;
      }
      svg {
        margin-bottom: 1px;
      }
      .bottom {
        padding-top: $thin;
        border-top: $thin solid $text-color;
        padding-right: 4 * $thin;
        border-right: $thin solid $text-color;

        .inline_icon {
          margin: 0;
        }
      }
    }
  }

  .type {
    display: inline-block;

    &.bordered {
      line-height: 1;
      border-top: 1.1pt solid $text-color;
      border-bottom: 1.1pt solid $text-color;
      border-right: 1.1pt solid $text-color;
      padding: $tiny;
      padding-left: $edge;
      margin-left: -$edge;
    }
  }

  article {
    clear: left;
    padding: 0 $edge $edge $edge;
    line-height: 1.2;

    .ongoing {
      margin-bottom: $base;
    }

    .effect, .usage, .passive {
      margin-top: $base;
    }

    .active, .skills {
      text-align: center;
      position: absolute;
      left: $edge; bottom: $border; right: $edge;
    }

    .active { /* extra height for the header */
      height: 32%;
    }

    .effect {
      position: absolute;
      bottom: $footer-height;
      padding-bottom: $base;
      margin-right: $edge;

      .or {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;

        & > span {
          position: relative;
          display: inline-block;
        }
      
        & > span:before,
        & > span:after {
          content: "";
          position: absolute;
          top: 50%;
          width: 9999px;
          height: 1px;
          background: $text-color;
          opacity: 0.2;
        }

        & > span:before {
          right: 100%;
          margin-right: 15px;
        }

        & > span:after {
          left: 100%;
          margin-left: 15px;
        }
      }
    }
  }

  footer {
    position: absolute;
    left: $edge; bottom: 0.7*$border; right: $edge;
    height: $footer-height;
    border-left: $thin solid $text-color;
    border-bottom: $thin solid $text-color;

    font-size: $small;

    .description {
      font-size: $small;
      font-style: italic;
      position: absolute;
      left: 8*$thin;
      bottom: 6*$thin;
      right: 0;
    }

    .threat {
      font-size: $huge;
    }

    .cardType, .class {
      font-family: $font-header;
      position: absolute;
      bottom: -0.5*$border; right: 0;
      padding-left: $base;
      text-align: right;
      font-weight: $bold;
      letter-spacing: 0.5px;
      line-height: 1;
      background: white;
    }

    .worth  {
      position: absolute;
      bottom: 0; right: 0;
    }
  }

  &.Encounter {
    footer {
      border-color: white;
    }
  }
}

/* === BACK-SIDE === */
.page.backs {
  /* height: 0; hide in web view - display: none; breaks rendering? */

  .card {
    text-align: center;
    font-size: $huge;
    font-family: $font-header;
    font-weight: $bold;
    
    .cardType {
      position: absolute;
      top: 0.5in; left: 0; right: 0;
    }

    .aux {
      position: absolute;
      top: 2.3in; left: 0; right: 0;
    }
    .threat {
      font-size: 36pt;
    }
  }

  footer {
    .class {
      font-size: 150%;
    }
  }
}

/* === BACKGROUNDS === */
.Encounter {
  color: white;
  background: $text-color;
  border-radius: 0 !important;
  &.front, &.back {
    border-color: $text-color !important;
  }
  svg {
    fill: white;
  }
}

.card-background {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  background: no-repeat center center;
  background-size: 1in 1in;
}
.card.front:after {
  @extend .card-background;
  opacity: 0.10;
  top: -10%;
  left: 50%;
  right: -30%;
}
.card.back:after {
  @extend .card-background;
}
.card.front.Loot { &:before, &:after { /* Equipment front first, overwritten by class */
  background-image: url(../img/loot.svg) !important;
}}

.card.Explorer { &:before, &:after {
  background-image: url(../img/explorer.svg) !important;
}}
.card.Title { &:before, &:after {
  background-image: url(../img/title.svg) !important;
}}
.card.Melee, .card.Ability { &:before, &:after {
  background-image: url(../img/class/Melee.svg) !important;
}}
.card.Ranged { &:before, &:after {
  background-image: url(../img/class/Ranged.svg) !important;
}}
.card.Magic { &:before, &:after {
  background-image: url(../img/class/Magic.svg) !important;
}}
.card.Influence { &:before, &:after {
  background-image: url(../img/class/Influence.svg) !important;
}}
.card.Defense { &:before, &:after {
  background-image: url(../img/class/Defense.svg) !important;
}}
.card.Stealth { &:before, &:after {
  background-image: url(../img/class/Stealth.svg) !important;
}}
.card.Alchemy { &:before, &:after {
  background-image: url(../img/class/Alchemy.svg) !important;
}}
.card.Music { &:before, &:after {
  background-image: url(../img/class/Music.svg) !important;
}}

.card.front.Trap { &:before, &:after {
  background-image: url(../img/trap-white.svg) !important;
}}
.card.Encounter, .card.Trap { &:before, &:after { /* defaul for encounter-type cards */
  background-image: url(../img/encounter-white.svg) !important;
}}

/*
.card.Encounter.back.Forest { &:before, &:after {
  background-image: url(../img/environment/forest.svg) !important;
}}
.card.Encounter.back.Town { &:before, &:after {
  background-image: url(../img/environment/town.svg) !important;
}}
.card.Encounter.back.Underground { &:before, &:after {
  background-image: url(../img/environment/underground.svg) !important;
}}*/

.card.back.Equipment, .card.back.Loot { &:before, &:after { /* Equipment back last, overwrites class */
  background-image: url(../img/loot.svg) !important;
}}
/* Option: Leaving blank for people to draw their own portraits */
.card.back.Explorer { &:before, &:after {
  background-image: url(../img/explorer.svg) !important;
}}

.card.Expedition {
  &.front {
    text-align: left;
  }
  &.back {
    @extend .front;
    font-size: $base;
    font-weight: normal;
    text-align: left;
  }
  &:before, &:after {
    background-image: none !important;
  }
}