@import 'generate';

body {
  margin: 0;
  background: white;
}

#topbar {
  display: none;
}

.page {
  page-break-before: always;
}
.page.backs {
  height: auto;
  transform: scale(-1, 1);

  .card {
    transform: scale(-1, 1);
  }
}

.page.fronts {
  background: white;
}

.card.front {
  border: $border solid white;
}

.printInstructions {
  display: block;
}